"use client";

import { Route, Routes } from "react-router";
import { PublicRoutes } from "./public.routes";

import { AppLayout } from "../layouts";

function AppRoutes() {
  return (
    <Routes>
      <Route path={"/"} element={<AppLayout />}>
        {PublicRoutes.map((route, key) => (
          <Route key={`route_${key}`} path={route.href} element={route.page} />
        ))}
      </Route>
    </Routes>
  );
}

export default AppRoutes;
