import React from "react";

import { Icon, PixelIcon } from "@usefui/icons";
import HomePage from "../app/home";

export type RouteItem = {
  href: string;
  label: string;
  icon: React.ReactNode;
  page: React.ReactNode;
};

export const PublicRoutes: RouteItem[] = [
  {
    href: "",
    label: "Home",
    icon: (
      <Icon>
        <PixelIcon.Dashbaord />
      </Icon>
    ),
    page: <HomePage />,
  },
] as RouteItem[];
